/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.recipe-list {
    list-style-type: none;
    padding: 0;
}

.recipe-item {
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 15px;
    transition: background-color 0.3s;
}

.recipe-item:hover {
    background-color: #f5f5f5;
}

.recipe-image {
    max-width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}


.recipe-ingredients {
    font-size: 0.9em;
    color: #555;
}

.recipe-content {
    display: flex;
    justify-content: space-between; /* This will separate the details and the image. */
    align-items: start; /* Align items to the start of their container. */
}

.recipe-details {
    flex: 1; /* Take up the remaining space after allocating space for the image. */
    padding-right: 20px; /* Space between the details and the image. */
}

.recipe-image {
    width: 40%; /* Adjust based on your design needs. */
    max-width: 400px; /* Example max width, can be adjusted. */
}

.recipe-image img {
    width: 100%; /* Ensures the image takes up the full width of its container. */
    height: auto; /* Maintains the aspect ratio of the image. */
}
